body {
  background-image: 
  linear-gradient(to right, rgb(169, 238, 169), rgb(47, 192, 112) 33.3%,  rgb(0, 130, 0) 90%, rgb(0, 62, 28));
  overflow-x: hidden;
}

.scrollable-container {
  height: 66.6vh; 
  overflow-y: auto;
  border-radius: 15px; 
  background-color: #ffffe0;
  background: rgba(255, 255, 255, 0.5);
  
}

#scroll {
  height: 200px; 
  overflow-y: auto;
  border-radius: 7px; 
  background-color: #ffffe0;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgb(226, 226, 226);
}

#foodRecipeListForm {
  margin: 5px;
  margin-left: 15px;
}



.table-responsive {
  
  width: 100%; 
  table-layout: fixed;
}

.heading {
  text-align: center;
  color: rgb(8, 77, 0);
  font-size: 80px; 
  white-space: nowrap;
  font-weight: 700;
  
  text-shadow:
      -0.5px -0.5px 0 #a7ff95,  
       0.5px -0.5px 0 #a7ff95,
      -0.5px  0.5px 0 #a7ff95,
       0.5px  0.5px 0 #a7ff95
}



.table tr td {
  color: rgb(5, 53, 0);
  font-size: 25px;
  text-align: center;
}


.bot-button {
  text-align: center;
  font-size: 40px;
}

#add-food {
  border: 2px solid white;
}

#create-food {
  border: 2px solid white;
}

#recipe-journal {
  border: 2px solid white;
}

#create-recipe {
  border: 2px solid white;
}


.btn-custom-outline {
  border: none;
  outline: none;
}
.btn-custom-outline:hover, .btn-custom-outline:focus {
  border: none;
  outline: none;
}

#foodListForm .form-check .form-control {
  width: 60px;
}


#foodRecipeListForm .form-check .form-control {
  width: 60px;
}

.food-table tr:hover {
  background-color: #f2f2f2; 
  cursor: pointer; 
}

.recipe-table tr:hover {
  background-color: #f2f2f2; 
  cursor: pointer; 
}

#create-recipe, #add-food, #create-food, #recipe-journal {
  color: #a7ff95;
  border: 1px solid #a7ff95;
  background-color: rgb(40, 128, 30);
  border-radius: 10px;
  margin-top: 25px;
  padding: 1em;
  font-size: calc(0.35vw + 0.35em);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  font-weight: 700;
  overflow: hidden; 
  text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
  #create-recipe, #add-food, #create-food, #recipe-journal {
    padding: 0.5em;
    font-size: calc(1vw + 0.5em);
  }
}




#b1, #b2, #b3, #b4, #b5, #b6 {
  color: #ffffff;
  border: 0px;
  background-color: rgb(40, 128, 30);
}
